<a href="https://colab.research.google.com/github/amarkotha00/diamler_17_jan/blob/main/List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lambda-> 1 line execution (also ETL)
# list comprehension -> (ETL of LISTS)uses lambda style 1 line execution
#       -> objective is to loop over a dataset and generate data 
#       -> Extract from a list, transform within a column, load the resulting
#             list anywhere

In [1]:
odds = range(1,25, 2)

In [5]:
print(type(odds))

<class 'range'>

In [4]:
for i in odds:
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [10]:
# Transformation
# syntax-> [ How_to_tx_individual_row for_loop_original_data ]
even = [ odd+1 for odd in odds]

In [11]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [12]:
# conditional tranformations
square_div_by_5 = [ odd*odd if odd%5==0 else None for odd in odds]

In [13]:
square_div_by_5

[None, None, 25, None, None, None, None, 225, None, None, None, None]

In [19]:
#dictionary comprehension 
nums= { 2:3, "pikachu":"shaktiman", True:False, 0.14:3.14}

In [29]:
nums= { key:(value+1 if isinstance(key, int) else value) for key,value in nums.items()}

In [30]:
nums

{0.14: 4.140000000000001, 2: 4, True: 1, 'pikachu': 'shaktiman'}

In [31]:
opposite_nums = { value:key for key,value in nums.items()}

In [32]:
opposite_nums

{1: True, 4: 2, 4.140000000000001: 0.14, 'shaktiman': 'pikachu'}

In [ ]:
word_thes = {1:"hello", 2:'bye', 3:'world', 4:'sun'}

In [ ]:
# enter a new term- bird -> position 0, and word-> 1

In [ ]:
# enter a new element
# shift all the keys by 1 position

In [ ]:
word_thes = { k+1:v for k,v in word_thes.items()}

In [ ]:
word_thes[0] = "bird"
word_thes[1] = "word"

In [ ]:
word_thes

{0: 'bird', 1: 'word', 2: 'hello', 3: 'bye', 4: 'world', 5: 'sun'}