<a href="https://colab.research.google.com/github/amarkotha00/Data-Science-Training/blob/main/Pandas_Merging_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

Check out [Cars Exercises Video Tutorial](https://www.youtube.com/watch?v=avzLRBxoguU&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=3) to watch a data scientist go through the exercises

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]
    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [3]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [4]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [6]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = cars1.append(cars2)
cars

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
195  27.0          4           140  ...    82       1            ford mustang gl
196  44.0          4            97  ...    82       2                  vw pickup
197  32.0          4           135  ...    82       1              dodge rampage
198  28.0          4           120  ...    82       1                ford ranger
199  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [12]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([15027, 65270, 42016, 38170, 28292, 67761, 58102, 45604, 53943,
       48396, 66700, 36656, 47456, 34317, 39095, 51577, 46378, 35348,
       20364, 62843, 37378, 33656, 18831, 56554, 60261, 45399, 53444,
       72992, 46722, 56394, 42565, 21397, 49448, 25733, 15895, 53198,
       72529, 50158, 23691, 35526, 43185, 24652, 50439, 55513, 20170,
       69821, 47555, 38046, 60240, 29512, 46633, 26679, 42155, 18084,
       52705, 19196, 48291, 59183, 32133, 19809, 32333, 37393, 69371,
       43865, 68850, 49223, 36731, 69623, 29233, 41880, 37472, 45860,
       28193, 60657, 17588, 22795, 21046, 41165, 47275, 24071, 51477,
       33765, 69519, 32221, 40198, 45986, 21774, 58909, 58698, 52731,
       33144, 21859, 15875, 23185, 24063, 42981, 44412, 67295, 19132,
       44174, 29719, 20391, 49309, 38284, 51612, 32429, 64624, 36955,
       27465, 57219, 25969, 46024, 59276, 66443, 45123, 26182, 44737,
       29094, 68246, 29474, 65365, 57119, 70695, 47016, 34198, 61803,
       32270, 37238, 20527, 66429, 59572, 24928, 36915, 70417, 15330,
       41355, 53860, 19684, 24362, 57436, 71184, 41829, 31274, 30497,
       60986, 31441, 67289, 23117, 25405, 44892, 23888, 70050, 37353,
       20064, 51216, 16635, 52926, 37577, 45013, 21094, 17342, 25957,
       44453, 27953, 41537, 68421, 56961, 62029, 42413, 63147, 36966,
       53589, 63160, 47449, 28030, 20177, 69793, 35722, 15802, 16653,
       28189, 53862, 19422, 72805, 64718, 20867, 28400, 34487, 36284,
       42479, 19653, 20575, 32833, 35809, 35642, 29185, 21791, 69445,
       40391, 39912, 35829, 68252, 71178, 48032, 39866, 36720, 29691,
       68539, 68223, 70743, 21838, 24660, 67959, 51220, 24050, 33439,
       68170, 27501, 28116, 51879, 20770, 57997, 49313, 41533, 70761,
       54980, 72693, 38801, 29030, 27078, 25338, 26430, 29588, 58786,
       55217, 61144, 48390, 24019, 65838, 29211, 16566, 31933, 51127,
       70284, 36900, 44502, 38318, 19968, 45820, 65451, 42774, 44512,
       21946, 48234, 57396, 51906, 36850, 17298, 39038, 17831, 69883,
       44349, 29811, 47205, 42089, 63664, 23784, 19172, 71887, 25655,
       18964, 53532, 57125, 41618, 38667, 34292, 48887, 49328, 49827,
       49332, 22839, 40799, 63597, 58184, 64876, 17392, 30326, 17668,
       42718, 60894, 18626, 69186, 22939, 48824, 21459, 21599, 18081,
       25871, 16887, 40408, 68889, 41085, 18722, 15726, 17307, 54430,
       30695, 17381, 49352, 20586, 40179, 65034, 59369, 27080, 31260,
       42349, 20139, 63181, 70200, 56775, 15490, 48345, 31533, 46923,
       51052, 70628, 15449, 63382, 59446, 67738, 57660, 40314, 41333,
       40876, 20330, 32963, 63720, 40596, 57066, 34992, 47729, 70404,
       42954, 19846, 24339, 33135, 47334, 42906, 57761, 25545, 66663,
       59740, 31405, 35004, 25049, 15768, 25916, 69876, 21552, 62666,
       72782, 50752, 52056, 39946, 56093, 73000, 35242, 30008, 56645,
       35346, 45022, 41909, 23972, 53004, 67420, 52380, 56558, 21674,
       70086, 15620, 28604, 43473, 31162, 52271, 36234, 22486, 58902,
       60352, 32063, 29768, 29198, 33378, 19178, 54862, 49584, 49142,
       17100, 45886])

### Step 8. Add the column owners to cars

In [9]:
cars['owners'] = nr_owners # Numpy column 
cars.tail()

      mpg  cylinders  displacement  ... origin              car  owners
195  27.0          4           140  ...      1  ford mustang gl   69150
196  44.0          4            97  ...      2        vw pickup   53015
197  32.0          4           135  ...      1    dodge rampage   59336
198  28.0          4           120  ...      1      ford ranger   32862
199  31.0          4           119  ...      1       chevy s-10   39359

[5 rows x 10 columns]